.tasks {
  &__input {
    position: relative;
    width: 450px;
    padding: 20px 30px;
    font-size: 22px;
    font-weight: 400;
    color: #6e6e6e;
    background-color: #f8f8f8;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.1);
    
    &::placeholder {
      padding: 5px;
      font-style: italic;
      color: #ccc;
    }
  }
}