.sidebar {
  max-width: 200px;
  height: calc(100vh - 100px);
  padding: 50px 60px;
  background-color: #f0f0f0;

  &__title {
    color: #6e6e6e;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 0 5px;
  }
}